extend layout
block content
    div(ng-controller='pieChart', style='width:50%', align='center')
        p What is your favorite animal ?
        button(ng-click='catClick()')
            | Cat
        button(ng-click='dogClick()')
            | Dog
        button(ng-click='horseClick()')
            | Horse
        button(ng-click='otherClick()')
            | Others
        h2 Results
        canvas#doughnut.chart.chart-pie(chart-data='data', chart-labels='labels')
