doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    script(src='js/angular.min.js')
    script(src='js/socket.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/Chart.min.js')
    script(src='js/angular-chart.min.js')
    script(src='js/animals.js')
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body(ng-app="animals")
    block content
